/**
 * 파일명: common.css

**/
@charset "utf-8";
@font-face {
  font-family: 'notokrR';
  src: url('../font/notoKR_subset/NotoSans-Regular.eot');
  src: url('../font/notoKR_subset/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/notoKR_subset/NotoSans-Regular.woff2') format('woff2'),
       url('../font/notoKR_subset/NotoSans-Regular.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-Regular.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-Regular.ttf') format('truetype'),
       url('../font/notoKR_subset/NotoSans-Regular.svg#NotoSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'notokrL';
  src: url('../font/notoKR_subset/NotoSans-Light.eot');
  src: url('../font/notoKR_subset/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
       url('../font/notoKR_subset/NotoSans-Light.woff2') format('woff2'),
       url('../font/notoKR_subset/NotoSans-Light.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-Light.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-Light.ttf') format('truetype'),
       url('../font/notoKR_subset/NotoSans-Light.svg#NotoSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'notokrDM';
  src: url('../font/notoKR_subset/NotoSans-DemiLight.eot');
  src: url('../font/notoKR_subset/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),
       url('../font/notoKR_subset/NotoSans-DemiLight.woff2') format('woff2'),
       url('../font/notoKR_subset/NotoSans-DemiLight.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-DemiLight.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-DemiLight.ttf') format('truetype'),
       url('../font/notoKR_subset/NotoSans-DemiLight.svg#NotoSans-DemiLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'notokrM';
  src: url('../font/notoKR_subset/NotoSans-Medium.eot');
  src: url('../font/notoKR_subset/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('../font/notoKR_subset/NotoSans-Medium.woff2') format('woff2'),
       url('../font/notoKR_subset/NotoSans-Medium.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-Medium.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-Medium.ttf') format('truetype'),
       url('../font/notoKR_subset/NotoSans-Medium.svg#NotoSans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'notokrB';
  src: url('../font/notoKR_subset/NotoSans-Bold.eot');
  src: url('../font/notoKR_subset/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/notoKR_subset/NotoSans-Bold.woff2') format('woff2'),
       url('../font/notoKR_subset/NotoSans-Bold.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-Bold.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-Bold.ttf') format('truetype'),
       url('../font/notoKR_subset/NotoSans-Bold.svg#NotoSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Reset */
*{margin:0;padding:0;}
body,h1,h2,h3,h4,h5,h6,th,td,input,select,textarea,ul,li,dl,dt,dd,button,p,a{color:#333;font-family:"notokrR","Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;font-size:13px;font-weight:normal;word-spacing:.5px;letter-spacing:-.5px;}
body,html{width:100%;height:100%;text-align:center;-webkit-text-size-adjust:none;background:#fff;}
div{display:inline-block;box-sizing:border-box;width:100%;}
h1,h2,h3,h4,h5,h6{display:inline-block;box-sizing:border-box;width:auto;}
ul,ol,li{box-sizing:border-box;list-style:none;}
img,fieldset,iframe{border:none;}
fieldset{display:inline-block;}
img,input,select{vertical-align:middle;}
button,
span,
a{display:inline-block;text-decoration:none;box-sizing:border-box;border:none;}
a:hover{text-decoration:none;}
caption{width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0;}
ul,ol{list-style:none;}
em,address{font-style:normal;}
table{border:0;border-spacing:0;width:100%;text-align:center;border-collapse:collapse;}
p{text-align:justify;}
button{cursor:pointer;box-sizing:border-box;}
.block,.block div{display:block;}
input, textarea, select {border:1px solid #a9a9a9;color:#333;vertical-align:middle;background-color:rgba(255,255,255,.9);}
b{font-weight:normal;font-family:'notokrM';}

.scroll{overflow-y:scroll;background-color:#f5f5f5;}
.full{display:inline-block;width:100%!important;min-width:auto;}
.flex_wrap{display:flex;flex-wrap:wrap;}

.noPd{padding: 0 !important;}
.noBg{background-image: none !important;}
.noBd{border: 0 !important}
.noMg{margin: 0 !important;}
.noMgBtm{margin-bottom: 0 !important;}
.noMgRight{margin-right: 0 !important;}
.noIndent{text-indent:0 !important;;}
.noFloat{float: none !important;}

/* 정렬 */
.alignC{text-align: center !important;}
.alignL{text-align: left !important;}
.alignR{text-align: right !important;}

.fl{float:left !important;}
.fr{float:right !important;}
.f_sb{justify-content:space-between;}

/* normal font */
.blind{font-size:0;line-height:0;position:absolute;left:0;top:0; text-indent:-9999px;visibility:hidden;overflow:hidden;}
.divideR,
.divideL{position:relative;overflow:hidden;padding-left:15px;vertical-align:top;}
.divideR::before,
.divideL::before{position:absolute;left:5px;top:50%;content:"";display:inline-block;width:1px;height:18px;background:#ccc;margin-top:-9px;}
.divideR{padding:0 15px 0 0;}
.divideR::before{left:auto;right:5px;}

/* accessibility */
#accessibility{position:relative;display:block;z-index:9999;}
#accessibility a{display:block;width:1px;height:1px;margin-bottom:-1px;overflow:hidden;text-align:center;color:#fff;}
#accessibility a:focus,#accessibility a:active{width:100%;height:auto;padding:5px 0;background:#09f;}

/* btn */
.btn{border-width:1px;border-style:solid;color:#fff;text-align:center;text-indent:0;border-radius:3px;padding:0 6px 1px;font-family:'notokrR';background-color:#fff;}
.btn_white{color:#777;border:1px solid #ccc!important;}
.btn_red{border-color:#f7574d;background-color:#f7574d;}
.btn_green{border-color:#519488;background-color:#61ac9f;}
.btn_blue{background-color:#2e66aa;border-color:#24538a;}
.btn_mint{background-color:#176798;border-color:#176798;}
.btn_pink{background-color:#e38895;border-color:#e38895;}
.btn_hanblue{background-color:#377acd;color:#fff;border:none;}
.btn_grayblue{background-color:#5b96ca;border-color:transparent; }
.btn_blueline{color:#1c67b2;border-color:#1c67b2;}
.btn_redline{color:#f7574d;border-color:#f7574d;}
.btn_gray{background-color:#7f7d7e;border-color:#686868;}
.ico_btn{background:transparent;border:none;font-size:0;overflow:hidden;}
td .ico_btn{vertical-align:top;margin-top:3px;}
.ico_btn::before{display:inline-block;content:"";background-image:url(../img/btn_ico.png);width:18px;height:23px;line-height:0;vertical-align:baseline;}
.ico_pdf::before{background-position:0 0;}
.ico_map::before{background-position:0 -43px;width:22px;height:22px;}

.axib{border:1px solid #ccc;border-radius:0;font-size:12px;color:#000;}
.axi_only{font-size:0;background-color:transparent;}
.axib::before{margin-right:5px;}
.axi_only::before,
.axib::before{font-family:'axicon';font-size:14px;font-style:normal;}
.axi_plus::before{content:"\f2c7";color:#176899;font-size:9px;}
.axi_refresh::before{content:"\f21c";color:#176899;font-size:11px;}
.axi_search::before{content:"\f002";color:#fff;}
.axi_del::before{content:"\e937";color:#f75b31;}
.axi_down::before{content:"\e069"}
.axi_back::before{content:"\e852";}
.axi_dtl::before{content:"\f00e";color:#2e66aa;}
.axi_tileView::before{content:"\e725";color:#666;}
.axi_listView::before{content:"\e724";color:#666;}
.axi_y,
.axi_n{line-height:23px;}
.axi_y::before{content:"\f10c";}
.axi_n::before{content:"\f1b5";}

.btn_toggle{position:relative;width:55px;height:20px;background-color:#2e66aa;border-radius:10px;vertical-align:middle;padding:0 5px;box-sizing:border-box;font-size:0;border:1px solid;}
.btn_toggle[disabled]{cursor:default;}
.btn_toggle::before{position:absolute;top:1px;display:inline-block;content:"";width:16px;height:16px;background-color:#fff;border-radius:50%;}
.btn_toggle::after{font-size:12px;line-height:17px;color:#fff;letter-spacing:0;}
.btn_toggle.on{background-color:#2e66aa;border-color:#2e66aa;}
.btn_toggle.on::before{left:1px;}
.btn_toggle.on::after{content:"ON";float:right;}
.btn_toggle.off{background-color:#7e7e7e;border-color:transparent;}
.btn_toggle.off::before{left:inherit;right:1px;}
.btn_toggle.off::after{content:"OFF";float:left;}
.btn_toggle.effect.on::after{content:"유효";}
.btn_toggle.effect.off::after{content:"보류";}

.file_text{float:left;width:380px;height:19px;}
.file_wrap{display:inline-block;position:relative;width:60px;height:22px;margin:1px 0 0 5px;cursor:pointer;}
.file_add{filter:alpha(opacity:0);opacity:0;position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:24px;padding:0;border:0;cursor:pointer;z-index:100;}

.overlay{position:fixed;left:0;top:0;height:100%;background:rgba(0,0,0,.3);z-index:1000;}

/* input [ radio | checkbox ] */
[required]::before,
.required::after{content:" *";color:#f35857;font-size:11px;font-weight:600;}
[required]::before{margin-right:5px;}
input[type="text"],input[type="password"],
select{padding:1px 5px 2px;box-sizing:border-box;height:25px;}
select[multiple]{height:auto;}
input[type="text"],
input[type="password"]{height:24px;}
input[type="radio"]{border:none;margin-right:3px;}
select{vertical-align:bottom\9;height:24px;padding-right:0;}
select::-ms-expand{background:none;border:none;color:#606060;}
option:hover{background:#e3f4fb;}
textarea{resize:none;padding:5px;box-sizing:border-box;}
input[disabled],
select[disabled],
textarea[disabled]{border:1px solid #999;color:#999;background-color:#fefefe;}
.radio{margin-right:4px;margin-right: 1px\9; /* ie */}
.checkbox{margin: 0 4px 3px 0;margin:0 1px 0 0\9;}
.to,
.from,
.datepicker,
.date{width:96px;}
.datetimepicker{width:170px;letter-spacing:0;}
.timeform{width:50px;min-width:auto!important;}
.radio_wrap label{margin-right:5px;}
label input{margin-top:-3px;}
.period{line-height:24px;}
.period label,
.period input{vertical-align:top;}
.period_multi{display:inline-flex;justify-content:space-between;align-items:center;position:relative;width:220px;}
.period_multi::after{content:"~";position:absolute;left:50%;top:50%;margin:-10px 0 0 -7px;}
.period_multi .date{width:45%;}
.period_multi .ui-datepicker-trigger{right:32px}

.info{float:right;margin-top:5px;color:#999;font-size:11px;}
.caution{margin-left:5px;color:#f35857;vertical-align:middle;}
.caution::before{content:"※";margin-right:3px;}

.linked_t{position:relative;margin-top:50px;}
.linked_t::before{position:absolute;top:-40px;left:50%;content:"\f1af";font-family:'axicon';transform:translateX(-50%);font-size:30px;color:#176899;}

/* usegrid */
.use_grid{display:flex;flex-wrap:wrap;width:100%;}
.use_grid li{flex:0 1 auto;float:none;}
.search .use_grid{display:flex;margin:3px -10px 0;}
.search .use_grid li{margin:0;padding:0 10px 3px;}

.divide10 li{width:10%;}
.divide10 .w2{width:20%;}
.divide10 .w3{width:30%;}
.divide10 .w4{width:40%;}
.divide10 .w5{width:50%;}
.divide10 .w6{width:60%;}
.divide10 .w7{width:70%;}
.divide10 .w8{width:80%;}
.divide10 .w9{width:90%;}
.divide10 .w10{width:100%;}
.divide12 li{width:calc(100% / 12);}
.divide12 .w2{width:calc(100% / 12 * 2);}
.divide12 .w3{width:calc(100% / 12 * 3);}
.divide12 .w4{width:calc(100% / 12 * 4);}
.divide12 .w5{width:calc(100% / 12 * 5);}
.divide12 .w6{width:calc(100% / 12 * 6);}
.divide12 .w7{width:calc(100% / 12 * 7);}
.divide12 .w8{width:calc(100% / 12 * 8);}
.divide12 .w9{width:calc(100% / 12 * 9);}
.divide12 .w10{width:calc(100% / 12 * 10);}
.divide12 .w11{width:calc(100% / 12 * 11);}
.divide12 .w12{width:100%;}

/*jquery-ui-fix*/
.ui-datepicker{z-index:900!important;}
.ui-datepicker-title{display:block;width:auto;margin:0 2em;}
.ui-datepicker-title select{min-width:auto;height:auto;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year{width:40%;margin-bottom:3px;padding:0;}
.ui-datepicker select.ui-datepicker-year{width:42%;}
.ui-datepicker select.ui-datepicker-month{margin-left:8px;}
.ui-datepicker-trigger{position:relative;right:25px;top:50%;margin-right:-21px;cursor:pointer;}
.ui-datepicker{display:none;}
.ui-widget .ui-icon{width:16px;}
.ui-widget-content a{box-sizing:content-box;}
.ui-jqdialog .ui-jqdialog-titlebar-close{margin-top:-9px;}
.fm-button{padding:.2em .5em;}
.DelButton.EditButton a{padding-left:1.9em;}
.jq-grid .edit_cell > div{display:inline-block;margin-left:0!important;line-height:26px;vertical-align:middle;}
.ui-pg-div{height:14px;}
.ui-pg-div:hover{margin-top:-2px;}
.ui-pg-div span{padding-top:2px;vertical-align:top;}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{font-weight:normal;vertical-align:baseline;}

.ui-widget input[type="radio"],
.ui-widget input[type="checkbox"]{margin:0;}
.ui-widget .jqResize.ui-icon{background-image:url(../css/images/ui-icons_003964_256x240.png);margin:0;}
.ui-search-table select{width:100%;}
.ui-selectmenu-menu{width:auto;}
.ui-selectmenu-button.ui-sel-btn{width:17px;height:15px;padding:0;display:inline-block;}
.ui_checkbox{display:inline-block;}
.ui_checkbox label{display:inline-block;height:22px;padding:0 10px;border-radius:3px;vertical-align:middle;}

.ui-accordion .ui-accordion-header:first-of-type{margin-top:0;}
.ui-accordion .ui-accordion-content{padding:1em;}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover{background:#367fa9;border-color:#3278a0;color:#fff;}

.ui-tabs,
.ui-tabs-nav{border-radius:0;}
.ui-tabs .ui-tabs-nav{margin-bottom:15px;background:none;border:none}
.ui-tabs.ui-widget.ui-widget-content{border:none;padding:0;}
.ui-tabs .ui-tabs-nav li{margin:0;border-width:0 0;background:none;}
.ui-tabs .ui-tabs-nav{padding:0;border-bottom:1px solid #c5c5c5;}
.ui-tabs .ui-tabs-panel{padding:0;}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{padding:4px 15px 8px;border-width:0;}
.ui-tabs .ui-state-active a, .ui-tabs .ui-state-active a:link, .ui-tabs .ui-state-active a:visited{color:#3278a0;padding-bottom:8px;}

.ui-timepicker-div.ui-timepicker-oneLine dl dd, .ui-timepicker-div.ui-timepicker-oneLine dl dd>div{width:auto;}
.ui-timepicker-div .ui_tpicker_unit_hide,
.ui-timepicker-div .ui_tpicker_unit_hide:before{display: none!important;}
.ui-timepicker-oneLine ::before{margin:0 5px;}

.ui-slider{margin-top:10px;}

/* paginate */
.paginate{margin-top:15px;padding:15px 0;text-align:center}
.paginate a,.paginate strong{display:inline-block;position:relative;_width /**/:14px;min-width:23px;padding:1px 5px 2px 4px;color:#333;font-size:15px;line-height:normal;box-sizing:border-box;font-weight:normal;margin:0 3px;font-family:"Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;}
.paginate strong{color:#fff;background-color:#367fa9;}
.paginate .pre,
.paginate .next,
.paginate .first,
.paginate .last{_width /**/:47px;width:23px;height:23px;color:#777;background-color:#fff;border:1px solid #d7d7d7;margin:0 1px;font-size:10px;line-height:19px;font-weight:bold;}
.paginate a:hover{text-decoration:underline;}

/* login */
.login_wrap{position:relative;width:100%;height:100%;text-align:left;background:url(../img/bg_login.jpg)no-repeat top ;background-size:cover;}
.login_box{position:absolute;top: 50%;left: 50%;width:550px;transform:translate(-50%, -50%);}
.tit_login{font-size:23px;font-weight:600;line-height:35px;letter-spacing: -0.06em;}
.tit_login img{margin-right:10px;}
.tit_login span{position:relative;top:10px;}
.login{margin-top:15px;padding:35px;border:1px solid #dfdfdf;border-top:3px solid #176899;background-color:#fff; box-shadow:0 0 5px #aaa;}
.login h2{font-size: 40px;color:#176899;}
.login .flex_wrap{padding:40px 0 0; justify-content:space-between;}
.login ul{display:inline-block;width:79%;}
.login li{margin-bottom:15px;}
.login button{width:20%;height:85px;border-radius:5px;vertical-align: top;}
.login label{display:inline-block;width:20%;font-size:15px;}
.login input[type = text], .login input[type = password]{display:inline-block;width:78%;height:35px;line-height:35px;padding-left:10px;}
.login_check{margin-left:80px;white-space:nowrap;}
.login_check input[type = checkbox]{margin-right:10px;}
.login_backhome{margin-top: 15px;}
.login_backhome, .login_backhome a{font-size:15px;}
.login_backhome a{position:relative;margin-left:2px;padding-right:22px;font-weight:bold;color:#176798;}
.login_backhome a::after{position:absolute;top:1px;right:0;content:'\e932';display: inline-block;font-family:'axicon';font-size:20px;}
