/* pop common */
.pop_overlay{position:fixed;z-index:8000;top:0;left:0;width:100%;height:100%;background-color: rgba(0, 0, 0, 0.3);}
.pop_wrap{width:800px;position:fixed;top:50%;left:50%;border-radius:10px;background-color:#fff;transform:translateX(-50%) translateY(-50%);}
.pop_body{margin:1px;padding:22px 20px;}
.pop_tit{display:flex;justify-content:space-between;padding:10px 15px;border-radius:10px 10px 0 0;background-color:#176899;}
.pop_tit h1{padding-top:3px;font-size:16px;color:#fff;}
.btn_pop_close{position:relative;top:0;width:30px;height:30px;border-radius:50%;border:2px solid #176899;}
.btn_pop_close::before{position:absolute;top:3px;content:'\f2d7';display:block;width:100%;height:100%;font-family:'axicon';font-size:18px;color:#176899;}
.pop_wrap .search.f_sb{justify-content:space-between;}
.pop_wrap .btn_wrap{padding-top:16px;}
.pop_wrap table{border:1px solid #d7d7d7;}
.pop_wrap th{width:20%;}
.pop_wrap .tbl_row th,
.pop_wrap .tbl_row td{height:25px;padding:3px;border:1px solid #d7d7d7;}
.pop_wrap table textarea{line-height:22px;}
.pop_wrap table label{font-weight:600;}
.tbl_info table,.tbl_info th,.tbl_info td{height:30px;padding:3px;background-color:transparent;border:1px solid transparent;}