/* pop common */
.pop_overlay{position:fixed;z-index:8000;top:0;left:0;width:100vw;height:100vh;background-color: rgba(0, 0, 0, 0.3);}
.pop_wrap{width:800px;position:fixed;top:50%;left:50%;border-radius:5px;background-color:#fff;transform:translateX(-50%) translateY(-50%);box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);}
.pop_wrap_s{width:380px;}
.pop_tit{display:flex;justify-content:space-between;padding:5px 15px;border-radius:5px 5px 0 0;background-color:#176899;}
.pop_tit h1{padding-top:3px;font-size:16px;color:#fff;}
.btn_close{position:relative;top:0;width:30px;height:30px;border-radius:50%;border:2px solid #176899;}
.btn_close::before{position:absolute;top:3px;content:'\f2d7';display:block;width:100%;height:100%;font-family:'axicon';font-size:18px;color:#176899;}
.pop_body{margin:1px;padding:15px;text-align:left;}
.pop_wrap .btn_wrap{text-align:center;margin-top:20px;}
.pop_wrap .btn_wrap .btn{padding:2px 15px;}
.pop_wrap table input[type = text], .pop_wrap table input[type = date],
.pop_wrap table input[type = password], .pop_wrap table select, .pop_wrap table textarea{width:100%;}
.validity{color:#d22218;font-size:12px;}
.pop_wrap .required_info{margin:0 0 10px;color:#f35857;}

.pop_info{position:relative;padding-left:90px;}
.pop_info::before{position:absolute;left:0; font-family:'axicon';content:'\f1d3';font-size:70px;color:#516875;}
.p_vertification{width:320px;}
.p_vertification p{word-break:keep-all;text-align:left;margin-bottom:15px;}

/* p_admin01 */
.tbl_userinfo table, .tbl_userinfo th, .tbl_userinfo td{padding:5px 3px;vertical-align:top;text-align:left;}
.tbl_userinfo .btn{line-height:21px;}