/* pop common */
.pop_overlay{position:fixed;z-index:8000;top:0;left:0;width:100vw;height:100vh;background-color: rgba(0, 0, 0, 0.3);}
.pop_wrap{width:800px;position:fixed;top:50%;left:50%;border-radius:5px;background-color:#fff;transform:translateX(-50%) translateY(-50%);box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);}
.pop_tit{display:flex;justify-content:space-between;padding:5px 15px;border-radius:5px 5px 0 0;background-color:#176899;}
.pop_tit h1{padding-top:3px;font-size:16px;color:#fff;}
.btn_close{position:relative;top:0;width:30px;height:30px;border-radius:50%;border:2px solid #176899;}
.btn_close::before{position:absolute;top:3px;content:'\f2d7';display:block;width:100%;height:100%;font-family:'axicon';font-size:18px;color:#176899;}
.pop_body{margin:1px;padding:15px;text-align:left;}
.pop_wrap .btn_wrap{text-align:center;margin-top:20px;}
.pop_wrap .btn_wrap .btn{padding:2px 15px;}

/* .pop_wrap .search.f_sb{justify-content:space-between;}
.pop_wrap table{border:1px solid #d7d7d7;}
.pop_wrap th{width:20%;}
.pop_wrap .tbl_row th,
.pop_wrap .tbl_row td{height:25px;padding:3px;border:1px solid #d7d7d7;}
.pop_wrap table textarea{line-height:22px;}
.pop_wrap table label{font-weight:600;}
.tbl_info table,.tbl_info th,.tbl_info td{height:30px;padding:3px;background-color:transparent;border:1px solid transparent;} */

.pop_info{position:relative;padding-left:90px;}
.pop_info::before{position:absolute;left:0; font-family:'axicon';content:'\f1d3';font-size:70px;color:#516875;}
.p_vertification{width:320px;}
.p_vertification p{word-break:keep-all;text-align:left;margin-bottom:15px;}